  <div class="twelve columns clearfix" id="footer"> 
    <div class="four columns alpha">
        <img src="/img/jhoviform.png" width="170" height="200" alt="Jonathan Hersh" />
    </div>
    <div class="eight columns omega"><br/><br/>
        splinesoft is Jonathan Hersh, a designer and developer in San Francisco.<br/>
        <a href="mailto:{{ site.author.email }}">Send a note</a> and <a href="https://twitter.com/jhersh">follow @jhersh on Twitter</a>.
    </div>
  </div>
  
  <div class="twelve columns clearfix">
      <p style="text-align:center">MMXV splinesoft.net | <a href="/mudrammer/">MUDRammer</a> | <a href="/press/">Press</a> | <a href="{{ site.meta.source }}">Source</a></p>
  </div>
  
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51523165-1', 'splinesoft.net');
  ga('send', 'pageview');

</script>
</body>
</html>
