  <div class="twelve columns clearfix" id="footer"> 
    <div class="four columns alpha">
        <img src="/img/jhoviform.png" width="170" height="200" alt="Jonathan Hersh" />
    </div>
    <div class="eight columns omega"><br/><br/>
        splinesoft is Jonathan Hersh, a designer and developer in San Francisco.<br/>
        <a href="mailto:{{ site.author.email }}">Send a note</a> and <a href="https://twitter.com/jhersh">follow @jhersh on Twitter</a>.
    </div>
  </div>
  
  <div class="twelve columns clearfix">
      <p style="text-align:center">MMXV splinesoft.net | <a href="/mudrammer/">MUDRammer</a> | <a href="/press/">Press</a> | <a href="{{ site.meta.source }}">Source</a></p>
  </div>
  
</div>
</body>
</html>
