  <div class="twelve columns clearfix" id="footer"> 
    <div class="four columns alpha">
        <img src="/img/jhoviform.png" width="150" height="171" />
    </div>
    <div class="eight columns omega"><br/><br/>
        splinesoft is Jonathan Hersh, a designer and developer in San Francisco.<br/>
        <a href="mailto:{{ site.author.email }}">Send a note</a> and <a href="https://twitter.com/jhersh">follow @jhersh on Twitter</a>.
    </div>
  </div>
  
  <div class="twelve columns clearfix">
      <p style="text-align:center">MMXIV splinesoft.net | <a href="/mudrammer/">MUDRammer</a> | <a href="/press/">Press</a> | <a href="{{ site.meta.source }}">Source</a></p>
  </div>
  
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37831607-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
