<!DOCTYPE html>
<!-- 

************* COMMENT CATS ARE NOT AMUSED ****************


             *     ,MMM8&&&.            *
                  MMMM88&&&&&    .
                 MMMM88&&&&&&&
     *           MMM88&&&&&&&&
                 MMM88&&&&&&&&
                 'MMM88&&&&&&'
                   'MMM8&&&'      *    _
          |\___/|                      \\
         =) ^Y^ (=   |\_/|              ||    '
          \  ^  /    )a a '._.-""""-.  //
           )=*=(    =\T_= /    ~  ~  \//
          /     \     `"`\   ~   / ~  /
          |     |         |~   \ |  ~/
         /| | | |\         \  ~/- \ ~\
         \| | |_|/|        || |  // /`
  jgs_/\_//_// __//\_/\_/\_((_|\((_//\_/\_/\_
  |  |  |  | \_) |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |
  |  |  |  |  |  |  |  |  |  |  |  |  |  |  |

-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }} -{% endif %} {{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }}" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- mudrammer -->
    <meta name="apple-itunes-app" content="app-id=597157072"/>
   
    <link rel="shortcut icon" href="{{ site.images }}favicon.png">

    <link rel="stylesheet" href="{{ site.css }}base.css">
    <link rel="stylesheet" href="{{ site.css }}skeleton.css">
    <link rel="stylesheet" href="{{ site.css }}layout.css">
    
    <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">

	<div class="twelve columns" id="header">
		<h1 id="blog-title"><a href="{{ site.url }}" title="{{ site.title }}">{{ site.title }}</a></h1>
		<!--<span id="site-line">mindful iOS apps</span>-->
	</div>