---
layout: default
title: MUDRammer - splinesoft.net
---

<div class="twelve columns clearfix">
    <div class="eight columns alpha">
        <span class="lead"><a href="https://itunes.apple.com/us/app/mudrammer-a-modern-mud-client/id597157072?mt=8&uo=4">MUDRammer - A Modern MUD Client</a></span><br/>
        <p>A Modern MUD Client for iPhone and iPad focused on speed, readability, and flexibility.</p>
    </div>
    <div class="four columns omega">
        {% include mrbadge.html %}
    </div>
</div>
<div class="twelve columns clearfix">
    {% include mud-desc.html %}
    <p>Check out the <a href="{{ site.rammer.kb }}">MUDRammer Knowledge Base</a> and <a href="{{ site.rammer.ideas }}">feedback forum</a>.</p>
</div>
<br style="clear" />
<div class="twelve columns clearfix rampics">
    <div class="row">
        <div class="six columns alpha">
            <img src="{{ site.images }}ram1.png" width="200" height="100" alt="ANSI color rendering" />
            <p>Full ANSI color rendering in all orientations.</p>
        </div>
        <div class="six columns omega">
            <img src="{{ site.images }}ram6.png" width="200" height="100" alt="Triggers, Tickers, Aliases, and Gags" />
            <p>Automate with Triggers, Tickers, Aliases, and Gags.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns alpha">
            <img src="{{ site.images }}ram3.png" width="200" height="100" alt="Unlimited command history." />
            <p>Unlimited command history.</p>
        </div>
        <div class="six columns omega">
            <img src="{{ site.images }}ram4.png" width="200" height="100" alt="Full font family and size control." />
            <p>Full font family and size control.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns alpha">
            <img src="{{ site.images }}ram5.png" width="200" height="100" alt="Add your own connections or use one of the defaults." />
            <p>Quickly add your own connections or try one of the included defaults.</p>
        </div>
        <div class="six columns omega">
            <img src="{{ site.images }}ram2.png" width="200" height="100" alt="Choose one of nineteen delicious themes!" />
            <p>Make MUDRammer your own with one of nineteen delicious themes.</p>
        </div>
    </div>
</div>
