---
layout: default
title: Press - splinesoft.net
---

<div class="twelve columns clearfix">
    <div class="eight columns alpha">
        <span class="lead">MUDRammer</span><br/>
        <p>A Modern MUD Client for iPhone and iPad focused on speed, readability, and flexibility.</p>
    </div>
    <div class="four columns omega">
        {% include mrbadge.html %}
    </div>
</div>
<div class="twelve columns clearfix">
    {% include mud-desc.html %}
</div>
<br style="clear" />
<div class="twelve columns clearfix">
    <img src="512rammer.png" height="512" width="512" /><br/><br/>
    <img src="51.png" height="1136" width="640" /><br/><br/>
    <img src="52.png" height="1136" width="640" /><br/><br/>
    <img src="53.png" height="640" width="1136" /><br/><br/>
    <img src="iPad1.png" height="1024" width="768" /><br/><br/>
    <img src="iPad2.png" height="1024" width="768" /><br/><br/>
</div>
